<footer>
  <div class="footer-main">
    <div class="access">
      <h4>Get Started</h4>
      <p>Start Free Trial</p>
      <p>Download BOOMBOX</p>
      <p>Supported Devices</p>
      <p>Get support</p>
    </div>
    <div class="access">
      <h4>Discover BOOMBOX</h4>
      <p>About</p>
      <p>Sound Quality</p>
      <p>Boombox Connect</p>
      <p>Community</p>
      <p>Forum</p>
    </div>
    <div class="access">
      <h4>Account</h4>
      <p>Sign Up</p>
      <p>Redeem Voucher</p>
      <p>Manage Account</p>
      <p>Store</p>
    </div>
    <div class="access">
      <h4>Company</h4>
      <p>What is BOOMBOX?</p>
      <p>Partners</p>
      <p>Careers</p>
      <p>Press</p>
    </div>
  </div>
  <div class="socials">
    <img src="images/Group-53.svg" alt="social websites logo for facebook, instagram twitter and linkedin respectively">
  </div>
  <div class="copyrights-and-legals">
    <div class="copy-right">
      <div class="copy-right-images">
        <img src="images/Group-62.svg" alt="Boom box logo">
      </div>
      <div class="copy-right-text">
        <p>Copyright (c) 2021 Copyright Holder All Rights Reserved.</p>
      </div>
    </div>
    <div class="legal-document">
      <p>Privacy policy</p>
      <p>Terms and Condition</p>
      <p>Accessibility Statement</p>
      <p>Contact</p>
    </div>
    <div class="languages">
      <p><strong>EN</strong></p>
    </div>
  </div>
</footer>
</body>
</html>
