<%- include('partials/header') -%>
  <!-- this is the header section -->
  <div class="header">
    <div class="header-image">
      <img src="images/display.png" alt="the header display of a man listen to music">
    </div>
    <div class="header-content">
      <h1>Quality Sounds to your ears</h1>
      <p>Discover, listen and share a constantly expanding <br>
      mix of genres from your favourite artists <br> all in one tap
     </p>
     <a href="/signup">
       <button class="btn header-btn" type="button" name="button">Start Free Trial</button>
     </a>
    </div>
  </div>
</header>
<main>
  <section id="featured-section">
    <h2>Why Boombox ?</h2>
    <div class="features">
      <div class="feature">
        <h3>80 million tracks. Ad free</h3>
        <p>With over 80 million tracks, exclusive releases at ease With no
        Ad disturbance</p>
      </div>
      <div class="feature">
        <h3>Made for you.</h3>
        <p>Our AI algorithm detects your flow and suggest tracks based on your
        likes and preferances.</p>
      </div>
      <div class="feature">
        <h3>Always with you.</h3>
        <p>Available on all devices, all the time, even without WIFI or cellular
        network.</p>
      </div>
      <div class="feature">
        <h3>Hand picked playlists.</h3>
        <p>Tap into our editiors' pick with curated playlists and featured.</p>
      </div>
    </div>
  </section>
  <section id="price-section">
    <h3>Start your free trial</h3>
    <p class="price-secton-heading-p">RECOMMENDED</p>
    <div class="pricing">
    <div class="price">
      <h4>Free</h4>
      <p>$0.00</p>
      <span>/month</span>
      <ol>
        <li>
          <p>High sound quality</p>
        </li>
        <li>
          <p>Shuffle Play</p>
        </li>
        <li>
          <p>Ad free</p>
        </li>
        <li>
          <p>80 Million tracks</p>
        </li>
        <li>
          <p>Offline mode</p>
        </li>
        <li>
          <p>6 accounts</p>
        </li>
      </ol>
      <button class="btn pricing-btn" type="button" name="button">Try it Now</button>
      <a href="#">More info</a>
    </div>
    <div class="price">
      <h4>Premium</h4>
      <p>$2.33</p>
      <span>/month</span>
      <ol>
        <li>
          <p>High sound quality</p>
        </li>
        <li>
          <p>Shuffle Play</p>
        </li>
        <li>
          <p>Ad free</p>
        </li>
        <li>
          <p>80 Million tracks</p>
        </li>
        <li>
          <p>Offline mode</p>
        </li>
        <li>
          <p>6 accounts</p>
        </li>
      </ol>
      <button type="button" class="btn pricing-btn" name="button">Try it Now</button>
      <a href="#">More info</a>
    </div>
    <div class="price">
      <h4>Family</h4>
      <p>$4.67</p>
      <span>/month</span>
      <ol>
        <li>
          <p>High sound quality</p>
        </li>
        <li>
          <p>Shuffle Play</p>
        </li>
        <li>
          <p>Ad free</p>
        </li>
        <li>
          <p>80 Million tracks</p>
        </li>
        <li>
          <p>Offline mode</p>
        </li>
        <li>
          <p>6 accounts</p>
        </li>
      </ol>
      <button type="button" class="btn pricing-btn" name="button">Try it Now</button>
      <a href="#">More info</a>
    </div>
  </div>
  <a href="/signup">
    <button class="btn pricing-cta" type="button" name="button">Start Free Trial</button>
  </a>
  <p class="price-section-p">30 day free trial. Cancel anytime.</p>
  <div class="images-array">
    <img src="images/cover.jpg" alt="Album art cover">
    <img src="images/coverj.jpg" alt="Album art cover">
    <img class="img-4" src="images/coverq.jpg" alt="Album art cover">
    <img src="images/covers.jpg" alt="Album art cover">
    <img src="images/covert.jpg" alt="Album art cover">
  </div>
  </section>
  <div class="gradient-bg">
    <h2>FAQ</h2>
    <div class="faq">
      <div class="questions">
        <h3>Can I try Boombox free of charge ?</h3>
        <p>Yes, you get a free trail period when you sign up to
        <strong>BOOMBOX</strong> and you can cancel your account at any time</p>
      </div>
      <div class="questions">
        <h3>Can I import my playlist between devices ?</h3>
        <p>Yes, as long as you log in to your account on the devices and
        the playlist would automatically sync with the new devices.</p>
      </div>
      <div class="questions">
        <h3>What is Boombox ?</h3>
        <p>Boombox is a music streaming platform, having over 70 million songs
        and exclusives.</p>
      </div>
    </div>
  </div>
  <div class="cta">
    <div class="cta-image">
      <img src="images/pexels.jpg" alt="">
    </div>
    <div class="cta-content">
      <h3>Never stop listening</h3>
      <p>Boombox is available on IOS, Android, Web.</p>
      <button type="button" name="button">Google Play</button>
      <button type="button" name="button">App Store</button>
    </div>
  </div>
</main>
<script src="index.js" charset="utf-8"></script>
<%- include('partials/footer') -%>
