<%- include("partials/header") -%>

 <h1>Welcome to BOOM BOX beloved User</h1>
 <a href="/logout"><button class="btn" type="button" name="button"> Log Out</button></a>

<%- include("partials/footer") -%>
