<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boom Box</title>
    <link rel="stylesheet" href="css/signup.css">
  </head>
  <body>
    <div class="signup-logo">
      <img src="images/Boombox-logo-11.svg" alt="boom box logo">
    </div>
    <h1>Sign up</h1>
    <div class="container">
      <form class="signup-form" action="/signup" method="post">
        <label>Username</label>
        <input type="text" class="input-css" name="username"  class="input-css" placeholder="Input your Username" value="">
        <label>Password</label>
        <input type="password" class="input-css" name="password" class="input-css" placeholder="Input your password" value="">
        <button class="btn btn-submit" type="submit" name="button">Continue</button>
      </form>
      <h5>or</h5>
      <div class="alternative-button">
        <button class="btn alt-btn" type="button" name="button">Continue with facebook</button>
        <button class="btn alt-btn" type="button" name="button">Continue with Apple</button>
        <button class="btn alt-btn" type="button" name="button">Continue with Twitter</button>
      </div>
    </div>
  </body>
</html>
